.doubledoc{
    display: inline-flex;
    margin-left: 2%;
    margin-right: 5%;
    margin: 1%;
}
.singledoc{
    margin-left: 5%;
    margin-left: 5%;
}
.aligningdoc{
    display: inline-flex;   
}
.dash img{
    width:'8rem';
    height:'4rem' ;
    margin-left:'65%';
}
.dashimg Image{
    width:"2rem";
    height:"3rem";
    margin:'1rem';
}